<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
    </head>
    <body>
        <form action="/api/paypal/v1/" method="post">
            <input type="submit" value="buy"/>
        </form>
        <hr />
        <form action="/api/wallet/v1/" method="post">
            <input type="submit" value="buy"/>
        </form>    
    </body>
</html>